body {
    font: normal 18px/1.5 "Helvetica Neue", sans-serif;
   
  }
  
  .efecto {
    display: flex;
    height: 100vh;
 /*cinco*/   margin: 5px 15px 2px;
  }
  
  .efecto a {
    position: relative;
    flex: 1;
    text-align: center;
    text-decoration: none;
/*dos*/    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: flex .4s;
  }
  
  .efecto .one {
    background-image:  url(../images/1c.jpg);
/*seis*/    height: 250px;
    width: 300px;
  }

  .efecto .two {
    background-image:  url(../images/logoinformatica.png);
/*seis*/    height: 320px;
    width: 350px;
  }
  
   
  .efecto a:hover {
    flex: 1;
  }
  
  .efecto .overlay {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .4s;
    border-radius: 15px;
  }
  
  .efecto a:hover .overlay {
    background-color: rgba(141, 236, 204, 0.808);
  }
  
  .efecto .overlay h2 {
    transform: translate3d(0, -60px, 0);
  text-size-adjust: 20px;
  }
  
  .efecto .overlay p {
    transform: translate3d(0, 60px, 0);
  
   
    }
  
  .efecto a:hover .overlay-inner {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: all .3s .3s;
  /*tres*/  font-size: 100%;
  }
  
 /* nav del encabezado */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38d6d6;
    position: static;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* fondo color */
  li a:hover {
    background-color: #25bfd3;
  } 

  .active {
    background-color: #04AA6D;
  }

  /*cuatro*/ header{
    size: 160%;
    text-align: center;
    background-color: rgb(241, 109, 48);
    font: 18px/1.5 arial;
    margin: 5px 15px 2px;
    color: #ffffff;
  }
 
 